
# .gitignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.env
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
*.swo
*.coverage
.coverage.*
htmlcov/
*.coverage
*.coveragerc
*.pytest_cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json